*{margin:0;padding:0}
body{text-align:center;font-family:sans-serif;padding:100px;color:#333}
h2{margin-bottom:200px;font-size:14px;}

.link{display:inline-block;position:relative;text-decoration:none}
.link:hover:before {
	content: attr(title);
	position: absolute;
	background: #333;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	top: -30px;
	left: -50%;
	white-space: nowrap;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.link:hover:after {
	content: '';
	width: 0;
	height: 0;
	border: solid;
	border-width: 5px 5px 0;
	border-color: #333 transparent;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
}






